extends layout

block content
  div
    table
      tbody
        tr
          th= "name"
          th= "age"
          th= "major"
        each student in students
          tr
            td= student.name
            td= student.age
            td= student.major
            td: a(href="/students/" + student.shortId): button 수정